
<% if (user) { %>
  <form method="POST" action="/logout">
  Welcome <strong><%= user.email %></strong>
  <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href="/login">Login</a>
  <a href="/register">register</a>
<% } %>
