<!DOCTYPE html>

<head>
  <h1>TinyApp</h1>
</head>

<body>
<% if (user) { %>
  <form method="POST" action="/urls/logout">
  Welcome <strong><%= user.email %></strong>
  <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href="/urls/login">Login</a>
  <a href="/urls/register">register</a>
<% } %>
</body>