<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Bootstrap CSS -->
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <div class="title">
    <h2> shortURL: <%= shortURL %> </h2>
    <h2> longURL: <%= longURL %> </h2>
  </div>
  <a href="#">new url</a>
</body>
</html>