<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <div class="title">
    <a href="#">create new tiny url!</a>
    <h1><% for (var key in urls) { %>
    <h2> short url: <%= key %> long url: <%= urls[key] %></h2>
    <% }; %></h1>
  </div>
</body>
</html>